$mainFont : 'Montserrat Alternates', sans-serif;
$secondFont : 'Montserrat', sans-serif;
$secondColor : #ff3f81;
body{
    font-family: $secondFont !important;
    // padding-bottom: 100px;
}
#app{
    padding-bottom: 100px;
}
.bg-second{
    background-color: #ff3f81;
    color: white;
}
.btn-main{
    background-color: $secondColor;
    color: white;
    &:hover{
        color: $secondColor;
        background-color: white;
        border: 1px solid $secondColor;
    }
}
.box-icon{
    width:80px;
    height:80px;
    background-color: $secondColor;
    color: white;
    line-height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 20px;
}
.main-bg{
    // background-image: linear-gradient(190deg, #822bfe, #0f3ff4);
    background-repeat: repeat-y;
}
.main-font{
    font-family: $mainFont;
}
li.nav-item.active{
    border-bottom: 1px solid white;
    // text-align: center;
    margin-top: 5px;
}
li.nav-item{
    margin-top: 5px;
    transition: .2s;

    &:hover{
        border-bottom: 1px solid white;
    }
}
a.nav-link {
    color: white !important;
}
.home-font{
    color: white;
    font-size: 90px;
    font-family: 'Montserrat Alternates',sans-serif;
}
main.home-content{
    margin-top: 100px;
    height: 500px;
    overflow-y: hidden;
}
main.about-content {
    margin-top: 100px;
    // padding-bottom: 100px;
}
.slogan{
    line-height: 35px;
}
.main-footer{
    position: absolute;
    bottom:0;
    padding-bottom: 10px;
    color:white;
    text-align: right;
}
.section-team {
    font-family: "Poppins", sans-serif;
    padding: 80px 0;
}

.section-team .header-section {
    margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
    margin-top: 30px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
}

.section-team .single-person:hover {
    background: linear-gradient(to right, $secondColor, #f871db);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, $secondColor, #f871db);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: $secondColor;
}

.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: $secondColor;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
    color: #fff;
}
/* Start Gallery CSS */
.thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .home-font {
        color: white;
        font-size: 40px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .home-font {
        color: white;
        font-size: 50px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}